@import "/home/user/.cache/wal/colors-waybar.css";

* {
        font-family: "Mononoki Nerd Font", monospace;
        font-size: 14px;
}

window#waybar {
        padding: 0px;
        background-color: transparent;
        color: @foreground;
}

.modules-left {
        background-color: @background;
        border: solid 1px @color15;
        border-radius: 5px;
}

#workspaces button {
        min-width: 0;
        transition: none;
        padding: 0 15px;
        color: @color7;
        padding-right: 20px;
}

#workspaces button.focused {
        color: @foreground;
}

.modules-center {
        background-color: @background;
        border-radius: 5px;
        border: solid 1px @color15;
}

#custom-prev, #custom-next {
        font-size: 16px;
        color: @color2;
        padding: 2px 13px;
}

.modules-right {
        background-color: @background;
        border: solid 1px @color15;
        border-radius: 5px;
}

#privacy {
        color: @color4;
        padding: 0 10px;
}

#privacy-item.audio-in, #privacy-item.screenshare {
        color: @color1;
}

#pulseaudio {
        padding: 0 10px;
}

#pulseaudio.muted {
        color: @color1;
}

#network {
        color: @color7;
        padding: 0 10px;
}

#network.disconnected {
        color: @color1;
}

#clock {
        padding: 0 10px;
}
