@import "/home/user/.cache/wal/colors-waybar.css";

* {
        font-family: "Mononoki Nerd Font", monospace;
        font-size: 14px;
}

window#waybar {
        padding: 0px;
        background-color: @background;
        color: @foreground;
        border: solid 1px @color7;
}

.modules-left {
        margin: 2px;
        margin-left: 7px;
}

#workspaces button {
        transition: none;
        padding: 0 5px;
        color: @color7;
}

#workspaces button.focused {
        color: @foreground;
}

#custom-prev, #custom-next {
        font-size: 16px;
        color: @color2;
        padding: 0 13px;
}

.modules-right {
        margin: 3px;
        margin-right: 15px;
}

#privacy {
        color: @color4;
        padding: 0 10px;
}

#privacy-item.audio-in, #privacy-item.screenshare {
        color: @color1;
}

#pulseaudio {
        padding: 0 10px;
}

#pulseaudio.muted {
        color: @color1;
}

#network {
        color: @color7;
        padding: 0 10px;
        margin-right: 10px;
}

#network.disconnected {
        color: @color1;
}
